<br><br><br>
<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="span2"> site_id </span>
    <%= f.number_field :site_id %>
  </div>
  <div class="field">
    <span class="span2">site_name </span>
    <%= f.number_field :site_name %>
  </div>
  <div class="field">
    <span class="span2">author_id </span>
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <span class="span2">author_name </span>
    <%= f.number_field :author_name %>
  </div>
  <div class="field">
    <span class="span2">post_date </span>
    <%= f.text_field :post_date %>
  </div>

  <div class="field">
    <span class="span2">title </span>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <span class="span2">content</span>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <span class="span2">text_content</span>
    <%= f.text_field :text_content %>
  </div>
  <div class="field">
    <span class="span2">pic_url</span>
    <%= f.text_field :pic_url %>
  </div>
  <div class="field">
    <span class="span2">post_url </span>
    <%= f.text_field :post_url %>
  </div>
  <div class="field">
    <span class="span2">status </span>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
