<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :post_date %><br />
    <%= f.text_field :post_date %>
  </div>
  <div class="field">
    <%= f.label :msg_id %><br />
    <%= f.text_field :msg_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :text_content %><br />
    <%= f.text_field :text_content %>
  </div>
  <div class="field">
    <%= f.label :pic_url %><br />
    <%= f.text_field :pic_url %>
  </div>
  <div class="field">
    <%= f.label :post_url %><br />
    <%= f.text_field :post_url %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
