<!-- Start Intro Box -->
<section id="intro-box" class="single-post">
  <div class="container">
      <div class="row">
          <div class="span12">
              <h2 class="entry-title">
                审核
              </h2>

                <span class="arrow"></span>
            </div>
        </div>
    </div>
</section>

<!-- End Intro Box -->
<div id="content" class="single-post">
  <div id="respond" class="offset1">
  <% if @source %>
  <%= form_for(@source, url: '/sources/audit/'+@source.id.to_s, :html => { :class => "", :id => "commentform" }) do |f| %>
    <% if @source.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

        <ul>
        <% @source.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p class="field">
      <span class="span1">标题</span>
      <a href=<%= @source.post_url %> TARGET="_blank">原文</a>
      <%= f.text_field :title %>
    </p>

    <p class="field">
      <span class="span1">来源</span>
      <%= @source.site_name %>
    </p>
    <p class="field">
      <span class="span1">作者</span>
      <%= f.text_field :author_name %>
    </p>
    <p class="field">
      <span class="span1">日期</span>
      <%= f.text_field :post_date %>
    </p>
    <p class=" entry-content">
      <span class="span1">阅读</span>
        <%= raw @source.content %>
    </p>

    <p class="field">
      <span class="span1">正文</span><br>
      <textarea id="source_content" name="source[content]" rows="300" style="height:500px;">
        <%= @source.content %>
      </textarea>
    </p>
    <p>
      <input type="text" id="replaced" value="" />
      <input type="text" id="replace" value="" />
      <button type="button" id="content_rep">替换!</button>
    </p>
      
    <p class="field">
      <span class="span1">正文(纯文本)</span><br>
      <%= f.text_area :text_content, :rows => 30 %>
    </p>

    <p class="field">
      <span class="span1">标签</span>
      <input type="text" id="tags" name="tags" value="" />
    </p>
    <p class="field">
      <span class="span1">主题</span>
      <span class="btn source" onclick="$('#subjects').ptags_add(['美文']);">美文</span>
      <span class="btn source" onclick="$('#subjects').ptags_add(['感悟']);">感悟</span>
      <span class="btn source" onclick="$('#subjects').ptags_add(['人物志']);">人物志</span>
      <span class="btn source" onclick="$('#subjects').ptags_add(['一座城']);">一座城</span>
      <span class="btn source" onclick="$('#subjects').ptags_add(['书单']);">书单</span>
      <br>
      <input type="text" id="subjects" name="subjects" value="" />
    </p>
    <p class="field">
      <span class="span1">封面图片</span>
      <%= f.text_field :pic_url %>
    </p>
    <p class="actions">
      <%= f.submit %>
    </p>
  <% end %>
  <% end %>

  <td><%= link_to '编辑', edit_source_path(@source) %></td>

  </div>
</div>