<div id="content">
    <!-- Start Section Single Team People -->
    <section id="single-team" class="container">

    	<% if @posts && @posts.size > 0 %>
			<% @posts.each do |post| %>
			<div class="row">
				<div class="span8 offset2">
					<div class="team-name">
	                    <!--<h2>Susan Rakkhita</h2>-->
	                    <h2><a href= <%= "/posts/"+post.id.to_s %> TARGET="_blank"><%= post.title %></a></h2>
	                    <!--<h3>Founder</h3>-->
	                    <h3><!--<a href=<%= "/authors/"+post.author_id.to_s %>>-->
	                    	<%= post.author_name %>
	                    <!--</a>--></h3>
	                </div>
            	</div>
			</div>
	        <div class="row">

	        	<% if post.pic_url && !post.pic_url.blank? %>
	            <div class="span2 offset2">
	                <div class="team-img">
	                    <!--<img src="_include/img/people/single-large.jpg" alt="Person">-->
	                    <a href=<%= '#big-img-'+post.id.to_s %> data-toggle="modal" class="picture">
							<img class="img-polaroid" alt="content" src=<%= post.pic_url+"!small"%>>
						</a>
	                </div>

	                <!-- open pic -->
	                <div class="modal blog-img-big hide fade in" id=<%="big-img-" + post.id.to_s %> aria-hidden="true">
						
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
							<div style="text-align: center;">插图</div>
						</div>

						<div class="modal-body">
							<div class="row-fluid">
								<div class="span12" align=center>
									<img class="img-polaroid" alt="content" src=<%= post.pic_url+"!big" %> >
								</div>
							</div>
						</div>
					</div>
	            </div>
	            <% end %>
	            
	            <div <% if post.pic_url && !post.pic_url.blank? %> class="span6" <%else%> class="span8 offset2" <%end%>>
	                
	                <div class="team-description">

					   	<div class="text_str">
					   		<%= raw post.text_content %>
					   		<a href= <%= "/posts/"+post.id.to_s %> TARGET="_blank"><i class="font-icon-read-more"></i><i class="font-icon-read-more"></i></a>
					   	</div>
<!--
		               	<a class='showall' href='javascript:void(0)'> 显示全部</a>
		               	<a class='hideall' href='javascript:void(0)' style="display:none;"> 收起</a>
		               -->
	                    
	                </div>
	                <div class="team-social">
	                    <ul>
	                        <!--<li><a href="#"><i class="font-icon-heart-line"></i></a></li>
	                        <li><a href="#"><i class="font-icon-heart"></i></a></li>-->
	                        <li>
	                        	<a href=<%= "/posts/"+post.id.to_s %>>
	                        		<i class="font-icon-eye"><% if post.pv %> <%=post.pv/2%> <% end %></i>
	                        	</a>
	                    	</li>
	                        <li><a href=<%= "/posts/"+post.id.to_s %> TARGET="_blank"><i class="font-icon-heart-line"></i></a></li>
	                    </ul>
	                </div>
	            </div>

	        </div>

	        <div class="row">
	            <hr class="span8 offset2">
	        </div>

	        <% end %> 
			
			<div class="row">
				<div class="cus_pagination">
					<%= will_paginate(@posts, :previous_label => '上一页', :next_label => '下一页', :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %> 
				</div>
			</div>

		<% else %>
			<div class="row">
		    	<div class="span2 offset1">  
					&nbsp;&nbsp;&nbsp;暂无阅读条目
				</div>
			</div>
		<% end %>
        
        <!--
        <div class="row">
            <div class="span12">
            	<div class="paginate-team">
                	<a href="team.html" class="button-main">Back to Team</a>
               	</div>
            </div>
        </div>
    	-->
    </section>
    <!-- End Section Single Team People -->
</div>