<!-- Start Intro Box -->
<section id="intro-box" class="single-post">
  <div class="container">
      <div class="row">
          <div class="span12">
              <h2 class="entry-title">
                登录
              </h2>
                <span class="arrow"></span>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div id="single-team" class="container">
		<div class="blog">
			<div class="span5 offset3">   

				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>

					<fieldset>
						
						<% if notice %>
							<button type="button" class="close" data-dismiss="alert">×</button>
							<p class="alert"><%=notice%></p>
						<% end %>
						<% if alert %>
							<button type="button" class="close" data-dismiss="alert">×</button>
							<p class="alert alert-error"><%=alert%></p>
						<% end %>

						<div class=control-group>
							<label class="control-label" for="input01">邮箱</label>
							<div class="controls">
								<%= f.email_field :email %>
							</div>
						</div>
						<div class=control-group>
							<label class="control-label" for="input02">密码</label>
							<div class="controls">
								 <%= f.password_field :password %>
							</div>
						</div>

					    <div class=control-group>
					    	<div class="controls">
								<%= f.submit "登录",:class=>"btn btn-primary" %>
								
								<!--<%= render "devise/shared/links" %>-->
							</div>
						</div>

						<div class=control-group>
					    	<div class="controls">
					    		<!--<%= link_to image_tag("weibo-loginbtn_03.png"), '/users/auth/weibo' %>-->
					    		<!--<%= link_to image_tag("qq_Connect_logo_3.png"), '/users/auth/qq_connect' %>-->
					    		<%= link_to image_tag("tqq_logo_3.png"), '/users/auth/tqq' %>


							</div>
						</div>
					</fieldset>

				<% end %>

			</div>
		</div>
	</div>
</section>
