<div class="">
<br><br><br>
<h1>来源列表</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>名称</th>
    <th>作者</th>
    <th>状态</th>
    <th>Url</th>
    <th>rss_url</th>

    <th>Auto</th>
    <th>读取类型</th>
    <th>名称tag</th>
    <th>正文tag</th>
    <th>最后读取时间</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= site.author %></td>
    <td><%= site.status %></td>
    <td><%= site.url %></td>
    <td><%= site.read_url %></td>

    <td><%= site.auto_read %></td>
    <td><%= site.read_type %></td>
    <td><%= site.name_tag %></td>
    <td><%= site.content_tag %></td>
    <td><%= site.last_pub_date %></td>
    <td><%= link_to 'Show', site %>
    <%= link_to 'Read', '/sites/read/'+site.id.to_s %></td>

    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
</div>
