
  <div class="offset2">
    <br><br><br>
  <p id="notice"><%= notice %></p>

  <p>
    <span class="span2">Name:</span>
    <%= @site.name %>
  </p>

  <p>
    <span class="span2">Author:</span>
    <%= @site.author %>
  </p>

  <p>
    <span class="span2">Status:</span>
    <%= @site.status %>
  </p>

  <p>
    <span class="span2">Url:</span>
    <%= @site.url %>
  </p>

  <p>
    <span class="span2">read_url:</span>
    <%= @site.read_url %>
  </p>

  <p>
    <span class="span2">Auto read:</span>
    <%= @site.auto_read %>
  </p>

  <p>
    <span class="span2">Read type:</span>
    <%= @site.read_type %>
  </p>

  <p>
    <span class="span2">Last_pub_date:</span>
    <%= @site.last_pub_date %>
  </p>

  <p>
    <span class="span2">Name tag:</span>
    <%= @site.name_tag %>
  </p>

  <p>
    <span class="span2">Context tag:</span>
    <%= @site.content_tag %>
  </p>


  <%= link_to 'Edit', edit_site_path(@site) %> |
  <%= link_to 'Back', sites_path %>
  </div>
